<html>
<head>
  <meta charset="UTF-8">
  <title> RATA'S IRONHACK BLOG</title>
</head>
<body>
  <h1> Welcome to the Rata's Ironhack Blog</h1>
    <% @posts.each_with_index  do |post, index| %>
      <h3><a href="/post_details/<%= index%>"><%= post.title %></a></h3>
    <% end %>

    <h4><a href="/new_post"> CREATE A NEW POST </h4>

  


</body>
</html>