<html>
<head>
  <meta charset="UTF-8">
  <title> RATA'S IRONHACK BLOG</title>
</head>
<body>
  <h1> Create a new post</h1>
    <form action="/????" method="POST">
      <p>Tittle: <p> <input type="text" name="title" value="title"> <br>
      <p>Post: <p><input type="text" name="post" value="post">
      <br><br> 
      <button type="submit" name="creation" value="creation">CREATE</button>
    </form>

</body>
</html>